In [3]:
import pandas as pd

data = pd.read_hdf("D:/UV_Project/Code_New/chemical_vae_keras-molecules/data/processed.h5")

ValueError: Dataset(s) incompatible with Pandas data types, not table, or no datasets found in HDF5 file.

In [11]:
import numpy as np
np.dtype("a1sds3e243")

TypeError: data type 'a1sds3e243' not understood

In [6]:
data

                                               structure
0              [11CH2]1NCCN2C[C@@H]3CCC[C@@H]3c4cccc1c24
1               [11CH2]1NCCN2[C@@H]3CCC[C@@H]3c4cccc1c24
2      [11CH3]c1ccc(cc1)c2cc(nn2c3ccc(cc3)S(=O)(=O)N)...
3           [11CH3]c1ccccc1O[C@H]([C@@H]2CNCCO2)c3ccccc3
4           [11CH3]c1ccccc1S[C@H]([C@@H]2CNCCO2)c3ccccc3
...                                                  ...
49995                         Cc1cc(C)c2CCC[C@@H](O)c2c1
49996                          Cc1cc(C)c2CCC[C@H](O)c2c1
49997  CC1CCCc2c(\C=C\[C@@H](O)C[C@@H](O)CC(=O)O)n(nc...
49998                           Cc1cccc2CC(=C(Cl)c12)C=O
49999           Cc1cc(cc2ccc(Cl)cc12)C(=O)c3c(C)c(C)sc3N

[50000 rows x 1 columns]

In [3]:
import nexusformat.nexus as nx
f = nx.nxload("D:/UV_Project/Code_New/chemical_vae_keras-molecules/data/smiles_50k.h5")
print(f.tree)

root:NXroot
  @CLASS = 'GROUP'
  @PYTABLES_FORMAT_VERSION = '2.1'
  @TITLE = ''
  @VERSION = '1.0'
  table:NXgroup
    @CLASS = 'GROUP'
    @TITLE = ''
    @VERSION = '1.0'
    @axis0_variety = 'regular'
    @axis1_variety = 'regular'
    @block0_items_variety = 'regular'
    @encoding = 'N.'
    @nblocks = 1
    @ndim = 2
    @pandas_type = 'frame'
    @pandas_version = '0.15.2'
    axis0 = 'structure'
      @CLASS = 'ARRAY'
      @FLAVOR = 'numpy'
      @TITLE = 'Empty(dtype=dtype('S1'))'
      @VERSION = '2.4'
      @kind = 'string'
      @name = 'N.'
      @transposed = 1
    axis1 = int64(50000)
      @CLASS = 'ARRAY'
      @FLAVOR = 'numpy'
      @TITLE = 'Empty(dtype=dtype('S1'))'
      @VERSION = '2.4'
      @kind = 'integer'
      @name = 'N.'
      @transposed = 1
    block0_items = 'structure'
      @CLASS = 'ARRAY'
      @FLAVOR = 'numpy'
      @TITLE = 'Empty(dtype=dtype('S1'))'
      @VERSION = '2.4'
      @kind = 'string'
      @name = 'N.'
      @transposed = 1
    block0_values = '[128   2  99 ... 116  98  46]'
      @CLASS = 'VLARRAY'
      @PSEUDOATOM = 'object'
      @TITLE = 'Empty(dtype=dtype('S1'))'
      @VERSION = '1.4'
      @transposed = 1